.carousel-caption {
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.carousel-caption h2 {
    font-size: 2rem;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 1rem;
    max-width: 600px;
}
